* {
	box-sizing: border-box;
}
header
{
background-color: lime;
color:white;
width: 100%;
font-size: 30px;
padding: 10px;
}

#first
{
	background-color: springgreen;
	width:100%;
	overflow: auto;
	color: white;
	height:50px;
	padding: 15px;

	

}


#first a
{

font-size: 15px;
	padding:10px;
	text-decoration: none;
	width: 10%;
	font-weight: bold;
}


section
{
display: flex;
background-color: blue;
min-height: 450px;
flex-wrap: wrap;	


}


section #left
{
flex: 2;
width: 35%;
background-color: palegreen;
min-height: 450px;
padding: 20px;
flex-wrap: wrap;	

}


#bus
{
	margin:100px,0,30px,0;
	height: inherit;
	width:400px;
}



#car
{
	border-radius: 5px;
	width:90%;
	margin-bottom: 15px;
	margin-left:20px;
	height:200px;
}


section #right
{
flex: 4;
width: 65%;
background-color: lightblue;
min-height: 450px;
padding: 20px;
}


#pic
{
	border-radius: 5px;
	width:90%;
	margin-bottom: 15px;
	margin-left:20px;
	height:400px;

}


footer
{
	background-color: purple;
	color:white;
	text-align: center;
	padding:10px;
	height: 60px;
}

footer a
{
	
font-size: 15px;
	padding:30px;
	padding-top: 40px;
	text-decoration: none;
	font-weight: bold;
	color: white;

}

h3
{
	color: blue;
}